<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img src="https://imagens.ne10.uol.com.br/veiculos/_midias/jpg/2023/04/27/806x444/1_52848931092_32e942359f_k__1_-22918910.jpg" alt="" srcset="">
        </div>
        <div class="small-card__tittle">
            <h1> O Brilho de jogadores da base</h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr>
    </div>
    
</div>